html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
  }
a{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
a:link {
  color: #0bd3d3;
}
a:hover{
  color: #e13cb0;
} 
a:visited {
  color: 	#000000;
}
#main {
    display: flex;
    flex-direction: row;
    margin: 5em 5em;
    justify-content: center;
}
header nav ul li{
  display: flex;
  float: right;
  padding: .5em;
}
h1 {
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
  color: #E13CB0;
}
aside {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #38B5E6;
}
p #score {
  align-items: center;
}
#tetris {
  border: 5px double #38B5E6;
}

img {
    height: 400px;
    width: 220px;
}
footer {
    background-color: 	#343633;
    position: relative;
    height: 200px;
    /* margin-top: -100px; */
    clear: both;
    opacity: .9;
  }
#end nav ul li {
  padding: .5em;
  list-style: none;
}
#copyWright {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #38B5E6;
}